<% layout('./layout/boilerplate') %>

<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Login/Register</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Login/Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="img/login.jpg" alt="" />
          <div class="hover">
            <h4>Already have an account?</h4>
            <a class="primary-btn" href="/login"> Login</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3 style="font-weight: 600;">Signup</h3>
          <form
            class="row login_form"
            action="/signup"
            method="post"
            id="contactForm"
            
          >
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                style="background-color: white"
                id="name"
                name="firstName"
                placeholder="Firstname"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Firstname'"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                style="background-color: white"
                id="name"
                name="lastName"
                placeholder="Lastname"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Lastname'"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="tel"
                class="form-control"
                style="background-color: white"
                id="name"
                name="mobile"
                pattern="[0-9]{10,10}"
                title="Enter valid phone number"
                placeholder="Mobile"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Mobile'"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="email"
                class="form-control"
                style="background-color: white"
                id="name"
                name="email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                style="background-color: white"
                id="name"
                name="username"
                placeholder="Username"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Username'"
                required
              />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                style="background-color: white"
                id="name"
                name="password"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                required
              />
            </div>
            <input type="text" value="user" name="type" hidden />
            <input type="text" value="false" name="state" hidden />

            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="primary-btn">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
