<% layout('./layout/boilerplateAdmin') %>
<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming">
  <div class="loader-wrapper-outer">
    <div class="loader-wrapper-inner"><div class="loader"></div></div>
  </div>
</div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper" >
  <div class="loader-wrapper">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div >
  <div class="card2 card-authentication1 mx-auto">
    <div class="card-body">
      <div class="card-content p-2">
        <div class="text-center">
          <!-- <img src="assets/images/logo-icon.png" alt="logo icon" /> -->
          <h2 style="font-family: serif;font-weight: 700;color: rgb(229, 166, 47);">Lumiere Mobiles</h2>
        </div>
        <div class="card-title text-uppercase text-center py-3">Sign In</div>
        <form action="/admin/" method="post">
          <div class="form-group">
            <label for="exampleInputUsername" class="sr-only">Username</label>
            <div class="position-relative has-icon-right">
              <input
                type="text"
                name="username"
                id="exampleInputUsername"
                class="form-control input-shadow"
                placeholder="Enter Username"
                required
              />
              <div class="form-control-position">
                <i class="icon-user"></i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword" class="sr-only">Password</label>
            <div class="position-relative has-icon-right">
              <input
                type="password"
                name="password"
                id="exampleInputPassword"
                class="form-control input-shadow"
                placeholder="Enter Password"
                required
              />
              <div class="form-control-position">
                <i class="icon-lock"></i>
              </div>
            </div>
          </div>
          <div class="text-danger"><%= message %></div>

          <button type="submit" class="btn btn-light btn-block">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
